/* Estilos aplicados ao websites Prototipando... */

/* Seletor Universal - seleciona todos os elementos da pagina e aplica estilos comuns padronizados */
*{
    margin: 0; /*remove a margem padrão de todos os elementos*/
    padding: 0;/*remove o padding de todos os elementos*/
    box-sizing: border-box; /*Inclui bordas e preenchimentos no calculo da largura e altura dos elementos*/
}/*Fechamento do seletor universal*/

body{
    font-family: Arial, sans-serif; /*Define a fonte da pagina como Arial, com uma alternativa de sans-serif*/
    background-color:rgb(52, 52, 119); /*Define a cor de fundo do body, corpo do html*/
    color: aliceblue; /*Define a cor do texto com um tom suave de branco*/

}/*Fechamentod do body*/

/* Estilo do header (cabeçalho) */
header{
    background-color: #080F3A ; /*Cor de fundo em hexadecimal*/
    padding: 30px; 
    text-align: center; /*Alinha o texto do cabeçalho ao centro*/
}/*Fechamento do header*/

header button{
    right: 20px; /*Alinha o botão na direita com 20pixels de distancia da borda direita da página*/ 
    top: 25px; /*Alinha o botão ao topo, com 20 pixels de distancia da borda superior*/
    position:absolute; /*Posiciona o botçao de forma absoluta com relação ao cabeçalho*/
    background-color: #7c83af;
    color:aliceblue;
    padding: 10px 20px; /*Define o espaço interno do botão em 10pixels (vertical) e 20px (horizontal)*/
    border-radius: 15px;/*Arredonda os cantos do botão*/
    border: none; /*Remove a borda padrão do botão*/
    cursor: pointer; /*Define o cursor como ponteiro ao passar sobre o botão*/
}/*Fechamento do header button*/

header h3{
    /* Remove a margem eo padding padrão do h3 dentro do header  */
    margin: 0;
    padding: 0;
}/*Fechamento do header*/

main{
    padding: 40px;
    text-align: center;
}/*Fechamento do main*/

main img{
    max-width: 150px; /*Define a largura maxima das imagens dentro da main como 150pixels*/
}/*Fechamento do main img*/

section{
    margin: 20px 0px; /*Define a margin superior e inferior das seções como 20pixels e 0 para as laterais*/
}/*Fechamento do section*/

/* Estilo do footer (rodapé) */
footer{
    background-color: #080F3A;
    padding: 30px;
    text-align: center; /*Alinha o texto do rodapé ao centro*/
    bottom: 0px; /*Alinha o rodapé abaixo da página*/
    width: 100%; /*Define a largura do rodapé como 100% da janela de visualização*/
    position: absolute; /*Posiciona o rodapé de forma absoluta em relação body*/
}/*Fechamento do footer*/